.application-form {
  width: 100%;
  background: #ffffff;
  z-index: 1;
  border-radius: 8px;
  text-align: center;

  & .input-text {
    position: relative;

    overflow: hidden;
    border: 2px solid #e8ecec;
    border-radius: 5px;
    margin-bottom: 20px;
    & input {
      float: left;
      width: 100%;
      font-size: 13px;
      color: #474747;
      padding: 16px 45px 16px 15px;
      border: none;
    }
  }
}
.application_form_textarea {
  width: 100%;
  background: #ffffff;
  z-index: 1;
  border-radius: 8px;
  text-align: center;
  & .input-text {
    position: relative;
    overflow: hidden;
    border: 2px solid #e8ecec;
    border-radius: 5px;
    margin-bottom: 20px;
    & .error-msg {
      position: absolute;
    }
  }
  & textarea {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #474747;
    padding: 16px 45px 16px 15px;
    border: none;
  }
}

.apply_now_btn {
  float: left;
  width: 100%;
  height: 60px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.3px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #1dbf73;
  color: #fff;
  border: none;
  transition: 0.3s;
  &:hover {
    background-color: #f5be2f;
    color: #000;
  }
}

.rmsc.multi-select {
  padding: 8px;
  border: 2px solid #e8ecec;
  border-radius: 5px;
  margin-bottom: 20px;
}
.rmsc.multi-select .dropdown-container {
  border: none;
}
.rmsc.multi-select .dropdown-heading .dropdown-heading-value span {
  color: #474747;
}
.rmsc.multi-select .dropdown-heading .dropdown-heading-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  flex: 1;
  text-align: left;
  font-size: 14px;
}
.parent_form {
  width: 100%;
}
.parent_container {
  max-width: 992px;
  margin: auto;
}

// file upload

.cashier-input-field-style {
  position: relative;
}
.single-input-field.single-input-field-file label {
  margin: 0;
  height: 54px;
  line-height: 46px;
  border: 2px solid #e8ecec;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  outline: none;
  display: block;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-input-field.single-input-field-file input {
  display: none;
}
label.upload_file i {
  color: #8d8d8d;
}

// form box
.input_box_applicaton {
  position: relative;
}
.input_box_applicaton .application-form-error {
  color: red;
  position: absolute;
  top: 50px;
  font-size: 11px;
  text-transform: capitalize;
}
