
.student-profile-author {
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid #edeef2;

    &-img {
        img { 
            width: 200px !important;
            height: 200px !important;
            object-fit: cover;
            border-radius: 50%;
            @media #{$xxs,$xs,$sm} {
			width: 80px !important;
            height: 80px !important;
            object-fit: cover;
            border-radius: 50%;
			}
        }
    }

    &-text {
        span {
            font-size: 20px;
            margin-bottom: 5px;
            display: block;
        }
    }
}

.student-profile-author-name {
    font-size: 28px;
    margin-bottom: 0px;
}

.student-profile-sidebar {
    background-color: $white;
    padding: 30px;
    min-height: 100%;

    .nav {
        flex-direction: column;
        border-bottom: 0px;

        li {
            button {
                display: block;
                width: 100%;
                text-align: left;
                color: #777777;
                border: none;
                outline: none;
                padding: 12px 15px;
                border-radius: 5px;

                i {
                    min-width: 22px;
                }

                &.active {
                    color: $yellow;

                    & i {
                        color: $yellow;
                    }
                }
            }
        }
    }
}

.student-profile-content {
    padding: 25px 0px 30px 14px;
    @media #{$xs} {
        padding-left: 0px;
    }

    & h4 {
        font-size: 20px;
    }
}

.student-profile-info {
    li {
        display: flex;
        margin-bottom: 15px;

        h5 {
            font-size: 16px;
            margin-bottom: 0px;
            font-weight: 600;
            min-width: 230px;

            @media #{$xs} {
                min-width: 100px;
            }
        }

        span {
            font-size: 16px;
            color: #777777;
        }
    }
}

 

 
 

.student-profile-enroll {
    ul {
        border-bottom: 1px solid #edeef2;

        li {
            .nav-link {
                font-size: 16px;
                color: #777777;
                font-weight: 600;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: 0%;
                    background: $yellow;
                    left: 0px;
                    bottom: 0px;
                    transition: all linear 0.3s;
                }

                &.active {
                    color: $yellow;

                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.contact-from-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.student-profile-setting-cover-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.student-profile-setting-author-img {
    border-radius: 50%;
    display: inline-block;
    margin-left: 30px;

    img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: -75px;
        border: 5px solid #ffffff;
    }
}

 
 
