    /*
    Flaticon icon font: Flaticon
    Creation date: 01/12/2020 09:29
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-quotation:before { content: "\f100"; }
.flaticon-job-search-3:before { content: "\f101"; }
.flaticon-job-search-4:before { content: "\f102"; }
.flaticon-dashboard:before { content: "\f103"; }
.flaticon-sync:before { content: "\f104"; }
.flaticon-management:before { content: "\f105"; }
.flaticon-research:before { content: "\f106"; }
.flaticon-save-money:before { content: "\f107"; }
.flaticon-24-hours-support:before { content: "\f108"; }
.flaticon-approved:before { content: "\f109"; }
.flaticon-internship:before { content: "\f10a"; }
.flaticon-map:before { content: "\f10b"; }
.flaticon-mail:before { content: "\f10c"; }
.flaticon-email:before { content: "\f10d"; }
.flaticon-phone-call:before { content: "\f10e"; }
    
    $font-Flaticon-quotation: "\f100";
    $font-Flaticon-job-search-3: "\f101";
    $font-Flaticon-job-search-4: "\f102";
    $font-Flaticon-dashboard: "\f103";
    $font-Flaticon-sync: "\f104";
    $font-Flaticon-management: "\f105";
    $font-Flaticon-research: "\f106";
    $font-Flaticon-save-money: "\f107";
    $font-Flaticon-24-hours-support: "\f108";
    $font-Flaticon-approved: "\f109";
    $font-Flaticon-internship: "\f10a";
    $font-Flaticon-map: "\f10b";
    $font-Flaticon-mail: "\f10c";
    $font-Flaticon-email: "\f10d";
    $font-Flaticon-phone-call: "\f10e";